@import "tailwindcss";

:root {
  --background: #fffbf2;
  --foreground: #33211d;
  --primary: #da9f5b;
  --primary-foreground: #212529;
  --secondary: #222831;
  --secondary-foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
}

@layer base {
  * {
    @apply box-border m-0 p-0 outline-0 list-none;
  }

  body {
    @apply bg-background text-foreground font-sans md:text-base text-sm;
  }

  .swiper-pagination-bullet-active {
    @apply transition-colors duration-300 ease-linear;
  }

  .swiper-pagination-bullet-active {
    @apply !bg-primary;
  }
}

@layer utilities {
  .coffee-background {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
      url("/image/coffee-background.jpg") center no-repeat;

    background-size: cover;
  }

  .paper-torn-piece-bottom::after {
    @apply absolute left-0 bottom-0 w-full h-3 z-1;
    background: url("/image/paper-torn-piece-bottom.png") center repeat-x;
    content: "";
  }

  .paper-torn-piece-top::before {
    @apply absolute left-0 top-0 w-full h-3 z-1;
    background: url("/image/paper-torn-piece-top.png") center repeat-x;
    content: "";
  }
}
